@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body{
  align-content: center;
  background-color: #252525;
  margin: auto;
}

//Rules for the image slider
.slider_container{
  display: block;
  margin: auto;
  max-width: 1440px;
  position: relative;
}

.slider {
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 0;
}

//Animation slide rules
.slider ul {
  height: auto;
  list-style: none;
  left: 0;
  line-height: 0;
  margin: 0;
  position: relative;
  padding: 0;
  width: 1000%;
  -moz-animation:slide-animation 15s infinite;
  -webkit-animation:slide-animation 15s infinite;
}

@-webkit-keyframes slide-animation {
  1% {left: 0; opacity: 1;}
  18% {left: 0; opacity: 1}
  19% {opacity: 0.2;}
  20% {left: -100%; opacity: 1;}
  58% {left: -100%; opacity: 1;}
  59% {opacity: 0.2;}
  60% {left: -200%; opacity: 1;}
  98% {left: -200%; opacity: 1;}
  99% {opacity: 0.5;}
  100% {left: 0;}
}

@-moz-keyframes slide-animation {
  1% {left: 0; opacity: 1;}
  18% {left: 0; opacity: 1}
  19% {opacity: 0.2;}
  20% {left: -100%; opacity: 1;}
  58% {left: -100%; opacity: 1;}
  59% {opacity: 0.2;}
  60% {left: -200%; opacity: 1;}
  98% {left: -200%; opacity: 1;}
  99% {opacity: 0.5;}
  100% {left: 0;}
}

.slider li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10%;
}

img {
  max-width: 100%;
}

.slider_content {
  color: white;
  bottom: 10%;
  display: block;
  font: {
    family:"Gentium Basic", sans-serif;
    size: 0.8em;
  };
  left: 50%;
  max-width: 780px;
  position: absolute;
  transform: translate(-50%, 0);
  width: 90%;
  @include breakpoint($small){
    font-size: 1.3em;
  }
}

//The main title
.title{
  color: white;
  position: relative;
  text-decoration: none;
}

.title:hover{
  color: yellow;
}

//Rules the title sticking to the top
.slider_content.stick {
  background-image: url("../images/footer.jpg");
  margin-top: 0 !important;
  max-height: 50px;
  max-width: 780px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;


  .title {
    font-size: 0.7em;
    left: 2%;

    @include breakpoint($small){
      bottom: 10px;
    }
  }
  .author{
    display: none;
  }

  .header{
    display: none;
  }

  img{
    display: none;
  }

  .title:after {
    display: none;
  }
}

.header {
  border: {
    bottom: solid;
    color: white;
    left: none;
    right: none;
    top: none;
    width: 1px;
  };
}

.author{
  float: left;
}
.author_image{
  float: left;
  margin-left: 5%;
  max-width: 30px;
}

//Container for the articles
.article{
  background-color: beige;
  height: 100%;
  margin: auto;
  max-width: 1440px;
  padding: {
    bottom: 60px;
    top:60px;
  };
}

//Style for quotes in article
.quote{
  color: lightslategray;
  font-size: 1.7em;
  text-align: center;
}

//Article text
.text{
  align-content: center;
  background-color: beige;
  font: {
    family: 'Gentium Basic', serif;
    size: 1.2em;
  }
  line-height: 1.5em;
  margin: {
    left: auto;
    right: auto;
    top: -21px;
  }
  max-width: 780px;
  padding: {
    bottom: 5%;
    left: 5%;
    right: 5%;
    top:0;
  }
  text-align: left;
}

//Article bullet list
.article_bullet{
  list-style-type: none;
  li {
    padding-left: 1em;
  }

  >li:before {
    content: "•";
    color: slategray;
    font-size: 1.2em;
    padding-right: 15px;
  }
}

//Back to top button
.backToTop {
  border-radius: 5px;
  cursor: pointer;
  font: {
    family: "Gentium Basic", sans-serif;
    weight: bold;
  }
  margin: auto;
  max-width: 100px;
  text-align: center;
  z-index: 10;
}

.backToTop:hover{
  background-color: #ffd11a;
  color: #801a00;
}

//Inserts the share icon before th share link
.backToTop:before{
  content: '\f077';
  font-family: "fontawesome-webfont";
}

//Footer
.footer_container{
  align-content: center;
  display: block;
  font-size: 0.8em;
  max-width: 1440px;
  margin: auto;
  position: relative;
  text-align: center;
  a{
    color: forestgreen;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}

//Footer background image
.footer_background{
  display: block;
  max-width: 1440px;
  margin: auto;
  position: relative;
  width: 100%;
}

//Share this article button.
.share{
  bottom: 20%;
  display: block;
  position: absolute;
  transform: translate(-50%, 0);
  @include breakpoint($share){
    bottom: 40%;
  }
}
//Share icon
.share:before{
  content: "\f08e ";
  font-family: fontawesome-webfont;
  margin-right: 5px;
}

.share:hover{
  background-color: lightgreen;
  border-radius: 3px;
  color: white;
  padding: 5px 17px;
}

//Modal window style
.modal_title {
  padding-top: 8%;
}

.modalDialog {
  background: rgba(0,0,0,0.8);
  bottom: 0;
  font-family: "Gentium Basic", sans-serif;
  left: 0;
  opacity:0;
  position: fixed;
  pointer-events: none;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  background: beige;
  margin: 10% auto;
  position: relative;
}

//Styling for the close button in the modal window
.close {
  background: lightgray;
  border-radius: 12px;
  color: white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  text-decoration: none;
  top: -10px;
  width: 24px;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

//Rules for the modal window
.modal{
  background-color: beige;
  height: 100%;
  line-height: 2em  ;
  max-width: 310px;
  max-height: 420px;
  width: 100%;
  @include breakpoint($small){
    max-width: 400px;
  }
}

.modal > form{
  margin: auto;
  max-width: 300px;
  text-align: right;
  width: 100%;
}

.icons {
  @extend %clearfix;
  display: inline-block;
  list-style-type:none;
  margin: auto;

  li {
    float: left;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  a {
    display: block;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    width: 30px;

    &::before {
      display: block;
      font: {
        family: "fontawesome-webfont";
        size: 2.3em;
      }
      height: 30px;
      left: 0;
      position: absolute;
      top: 0;
      text-indent: 0;
      text-align: center;
      width: 30px;
      z-index: 15;
    }
  }

  $social-networks: (
    'facebook': '\f082',
    'plus':'\f0d4',
    'twitter': '\f081',
    'linkedin': '\f08c',
    'mail': '\f0e0',
  );

  @each $domain, $icon in $social-networks {
    a[href*="#{$domain}"]::before {
      content: "#{$icon}";
    }
  }
}

//Toggle of the modal window message
.success{
  visibility: hidden;
}

.success.visible{
  color: green;
  font-size: 1.5em;
  visibility: visible;
}

.bottom_wrapper{
  margin: auto;
  max-width: 1440px;
}

//The dim effect on images in the bottom of the page
.media_link{
  background-color:#000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.media_link:hover{
  opacity: 0;
}

//The bottom articles
.bottomArticle{
  display: block;
  line-height: 0.5;
  position: relative;
  max-width: 100%;
  @include breakpoint($half){
    float: left;
    width: 50%;
  }
}

.articleContent{
  bottom: 10%;
  color: beige;
  display: block;
  font-family: "Gentium Basic";
  font-weight: bold;
  text-decoration: none;
  font-size: 0.7em;
  margin: {
    left: 10%;
    right: 10%;
  };
  position: absolute;
  padding: 5px;
  z-index: 15;
  @include breakpoint($narrow){
    bottom: 15%;
    font-size: 0.8em;
  }
  @include breakpoint($tablet){
    font-size: 1em;
  }
}

.articleContent:hover{
  background-color: #ffd11a;
  color: #801a00;
}

.next{
  margin-bottom: 15%;
  font-size: 1.2em;
}
.titleFoot{
  font-size: 2.2em;
}

.titleHead{
  font-size: 1.7em;
  font-style: italic;
}
