@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:400,700,700italic&subset=latin,latin-ext);


@font-face {
  font-family: "fontawesome-webfont";
  src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

