@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:400,700,700italic&subset=latin,latin-ext);
/* line 14, ../sass/_layout.scss */
body {
  align-content: center;
  background-color: #252525;
  margin: auto;
}

/* line 21, ../sass/_layout.scss */
.slider_container {
  display: block;
  margin: auto;
  max-width: 1440px;
  position: relative;
}

/* line 28, ../sass/_layout.scss */
.slider {
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 0;
}

/* line 36, ../sass/_layout.scss */
.slider ul {
  height: auto;
  list-style: none;
  left: 0;
  line-height: 0;
  margin: 0;
  position: relative;
  padding: 0;
  width: 1000%;
  -moz-animation: slide-animation 15s infinite;
  -webkit-animation: slide-animation 15s infinite;
}

@-webkit-keyframes slide-animation {
  1% {
    left: 0;
    opacity: 1;
  }
  18% {
    left: 0;
    opacity: 1;
  }
  19% {
    opacity: 0.2;
  }
  20% {
    left: -100%;
    opacity: 1;
  }
  58% {
    left: -100%;
    opacity: 1;
  }
  59% {
    opacity: 0.2;
  }
  60% {
    left: -200%;
    opacity: 1;
  }
  98% {
    left: -200%;
    opacity: 1;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes slide-animation {
  1% {
    left: 0;
    opacity: 1;
  }
  18% {
    left: 0;
    opacity: 1;
  }
  19% {
    opacity: 0.2;
  }
  20% {
    left: -100%;
    opacity: 1;
  }
  58% {
    left: -100%;
    opacity: 1;
  }
  59% {
    opacity: 0.2;
  }
  60% {
    left: -200%;
    opacity: 1;
  }
  98% {
    left: -200%;
    opacity: 1;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    left: 0;
  }
}
/* line 75, ../sass/_layout.scss */
.slider li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10%;
}

/* line 83, ../sass/_layout.scss */
img {
  max-width: 100%;
}

/* line 87, ../sass/_layout.scss */
.slider_content {
  color: white;
  bottom: 10%;
  display: block;
  font-family: "Gentium Basic", sans-serif;
  font-size: 0.8em;
  left: 50%;
  max-width: 780px;
  position: absolute;
  transform: translate(-50%, 0);
  width: 90%;
}
@media (min-width: 460px) {
  /* line 87, ../sass/_layout.scss */
  .slider_content {
    font-size: 1.3em;
  }
}

/* line 106, ../sass/_layout.scss */
.title {
  color: white;
  position: relative;
  text-decoration: none;
}

/* line 112, ../sass/_layout.scss */
.title:hover {
  color: yellow;
}

/* line 117, ../sass/_layout.scss */
.slider_content.stick {
  background-image: url("../images/footer.jpg");
  margin-top: 0 !important;
  max-height: 50px;
  max-width: 780px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
/* line 128, ../sass/_layout.scss */
.slider_content.stick .title {
  font-size: 0.7em;
  left: 2%;
}
@media (min-width: 460px) {
  /* line 128, ../sass/_layout.scss */
  .slider_content.stick .title {
    bottom: 10px;
  }
}
/* line 136, ../sass/_layout.scss */
.slider_content.stick .author {
  display: none;
}
/* line 140, ../sass/_layout.scss */
.slider_content.stick .header {
  display: none;
}
/* line 144, ../sass/_layout.scss */
.slider_content.stick img {
  display: none;
}
/* line 148, ../sass/_layout.scss */
.slider_content.stick .title:after {
  display: none;
}

/* line 153, ../sass/_layout.scss */
.header {
  border-bottom: solid;
  border-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 1px;
}

/* line 164, ../sass/_layout.scss */
.author {
  float: left;
}

/* line 167, ../sass/_layout.scss */
.author_image {
  float: left;
  margin-left: 5%;
  max-width: 30px;
}

/* line 174, ../sass/_layout.scss */
.article {
  background-color: beige;
  height: 100%;
  margin: auto;
  max-width: 1440px;
  padding-bottom: 60px;
  padding-top: 60px;
}

/* line 186, ../sass/_layout.scss */
.quote {
  color: lightslategray;
  font-size: 1.7em;
  text-align: center;
}

/* line 193, ../sass/_layout.scss */
.text {
  align-content: center;
  background-color: beige;
  font-family: 'Gentium Basic', serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -21px;
  max-width: 780px;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0;
  text-align: left;
}

/* line 217, ../sass/_layout.scss */
.article_bullet {
  list-style-type: none;
}
/* line 219, ../sass/_layout.scss */
.article_bullet li {
  padding-left: 1em;
}
/* line 223, ../sass/_layout.scss */
.article_bullet > li:before {
  content: "•";
  color: slategray;
  font-size: 1.2em;
  padding-right: 15px;
}

/* line 232, ../sass/_layout.scss */
.backToTop {
  border-radius: 5px;
  cursor: pointer;
  font-family: "Gentium Basic", sans-serif;
  font-weight: bold;
  margin: auto;
  max-width: 100px;
  text-align: center;
  z-index: 10;
}

/* line 245, ../sass/_layout.scss */
.backToTop:hover {
  background-color: #ffd11a;
  color: #801a00;
}

/* line 251, ../sass/_layout.scss */
.backToTop:before {
  content: '\f077';
  font-family: "fontawesome-webfont";
}

/* line 257, ../sass/_layout.scss */
.footer_container {
  align-content: center;
  display: block;
  font-size: 0.8em;
  max-width: 1440px;
  margin: auto;
  position: relative;
  text-align: center;
}
/* line 265, ../sass/_layout.scss */
.footer_container a {
  color: forestgreen;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* line 274, ../sass/_layout.scss */
.footer_background {
  display: block;
  max-width: 1440px;
  margin: auto;
  position: relative;
  width: 100%;
}

/* line 283, ../sass/_layout.scss */
.share {
  bottom: 20%;
  display: block;
  position: absolute;
  transform: translate(-50%, 0);
}
@media (min-width: 340px) {
  /* line 283, ../sass/_layout.scss */
  .share {
    bottom: 40%;
  }
}

/* line 293, ../sass/_layout.scss */
.share:before {
  content: "\f08e ";
  font-family: fontawesome-webfont;
  margin-right: 5px;
}

/* line 299, ../sass/_layout.scss */
.share:hover {
  background-color: lightgreen;
  border-radius: 3px;
  color: white;
  padding: 5px 17px;
}

/* line 307, ../sass/_layout.scss */
.modal_title {
  padding-top: 8%;
}

/* line 311, ../sass/_layout.scss */
.modalDialog {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  font-family: "Gentium Basic", sans-serif;
  left: 0;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
}

/* line 327, ../sass/_layout.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 332, ../sass/_layout.scss */
.modalDialog > div {
  background: beige;
  margin: 10% auto;
  position: relative;
}

/* line 339, ../sass/_layout.scss */
.close {
  background: lightgray;
  border-radius: 12px;
  color: white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  text-decoration: none;
  top: -10px;
  width: 24px;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
}

/* line 357, ../sass/_layout.scss */
.close:hover {
  background: #00d9ff;
}

/* line 362, ../sass/_layout.scss */
.modal {
  background-color: beige;
  height: 100%;
  line-height: 2em;
  max-width: 310px;
  max-height: 420px;
  width: 100%;
}
@media (min-width: 460px) {
  /* line 362, ../sass/_layout.scss */
  .modal {
    max-width: 400px;
  }
}

/* line 374, ../sass/_layout.scss */
.modal > form {
  margin: auto;
  max-width: 300px;
  text-align: right;
  width: 100%;
}

/* line 381, ../sass/_layout.scss */
.icons {
  display: inline-block;
  list-style-type: none;
  margin: auto;
}
/* line 387, ../sass/_layout.scss */
.icons li {
  float: left;
}
/* line 390, ../sass/_layout.scss */
.icons li:not(:last-child) {
  margin-right: 5px;
}
/* line 395, ../sass/_layout.scss */
.icons a {
  display: block;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  width: 30px;
}
/* line 403, ../sass/_layout.scss */
.icons a::before {
  display: block;
  font-family: "fontawesome-webfont";
  font-size: 2.3em;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  text-indent: 0;
  text-align: center;
  width: 30px;
  z-index: 15;
}
/* line 429, ../sass/_layout.scss */
.icons a[href*="facebook"]::before {
  content: "";
}
/* line 429, ../sass/_layout.scss */
.icons a[href*="plus"]::before {
  content: "";
}
/* line 429, ../sass/_layout.scss */
.icons a[href*="twitter"]::before {
  content: "";
}
/* line 429, ../sass/_layout.scss */
.icons a[href*="linkedin"]::before {
  content: "";
}
/* line 429, ../sass/_layout.scss */
.icons a[href*="mail"]::before {
  content: "";
}

/* line 436, ../sass/_layout.scss */
.success {
  visibility: hidden;
}

/* line 440, ../sass/_layout.scss */
.success.visible {
  color: green;
  font-size: 1.5em;
  visibility: visible;
}

/* line 446, ../sass/_layout.scss */
.bottom_wrapper {
  margin: auto;
  max-width: 1440px;
}

/* line 452, ../sass/_layout.scss */
.media_link {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/* line 463, ../sass/_layout.scss */
.media_link:hover {
  opacity: 0;
}

/* line 468, ../sass/_layout.scss */
.bottomArticle {
  display: block;
  line-height: 0.5;
  position: relative;
  max-width: 100%;
}
@media (min-width: 720px) {
  /* line 468, ../sass/_layout.scss */
  .bottomArticle {
    float: left;
    width: 50%;
  }
}

/* line 479, ../sass/_layout.scss */
.articleContent {
  bottom: 10%;
  color: beige;
  display: block;
  font-family: "Gentium Basic";
  font-weight: bold;
  text-decoration: none;
  font-size: 0.7em;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  padding: 5px;
  z-index: 15;
}
@media (min-width: 360px) {
  /* line 479, ../sass/_layout.scss */
  .articleContent {
    bottom: 15%;
    font-size: 0.8em;
  }
}
@media (min-width: 980px) {
  /* line 479, ../sass/_layout.scss */
  .articleContent {
    font-size: 1em;
  }
}

/* line 503, ../sass/_layout.scss */
.articleContent:hover {
  background-color: #ffd11a;
  color: #801a00;
}

/* line 508, ../sass/_layout.scss */
.next {
  margin-bottom: 15%;
  font-size: 1.2em;
}

/* line 512, ../sass/_layout.scss */
.titleFoot {
  font-size: 2.2em;
}

/* line 516, ../sass/_layout.scss */
.titleHead {
  font-size: 1.7em;
  font-style: italic;
}

@font-face {
  font-family: "fontawesome-webfont";
  src: url("../fonts/fontawesome-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 4, ../sass/_layout.scss */
.icons:before, .icons:after {
  content: "";
  display: table;
}
/* line 9, ../sass/_layout.scss */
.icons:after {
  clear: both;
}
